.all {
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  background-color: #F0F0F0;
  text-align: center;
  margin-top: 1em;
}
.welcome-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}
.about-us-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 85%;
  padding: 40px;
  background-color: rgb(250, 248, 248);
  border: solid 1px rgb(210, 214, 210);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  justify-content: space-between;
  margin-left: 6%;
  font-family: merriweather;
}
.frame{
  width: 100%;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
}
.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); */
  margin-bottom: 20px;
}
.text-container {
  flex: 1;
  padding: 20px;
  text-align: left;
}
.text-container h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #174704;
  margin-left: 35%;
}
.text-container p {
  font-size: 21px;
  line-height: 1.6;
  color: #0A0A0A;
  text-align: center;
}
.over{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 64, 185, 0.5);
}
.footer-image{
   margin-bottom: 3em;
    height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-divides{
  width: 5%;
  border: 1.9px solid green;
  margin: 10px auto;
}
@media screen and (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .text-container h2 {
    margin-left: 0;
    text-align: center;
  }
  .text-container p{
      font-size: 17px;
  }

}

@media screen and (max-width: 480px) {
  .about-us-container {
    max-width: 100%;
    margin-left: 0;
    text-align: left;
  }
}

@media screen and (max-width: 540px){
  .mission{
    text-align: left;
  }
  .about-us-container {
    flex-direction: column;
    align-items: center;
    padding: 18px;
  }

  .text-container h2 {
    margin-left: 0;
    text-align: center;
  }
  .text-container p{
      font-size: 15px;
      text-align: left;
  }
}